################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Irazu/FileContentIndex/51d471dc-ea37-45fa-b448-b82184369ae7.vsidx
